%section.main__title
  .main__title__content
    %h2.main__title__content__top
      %br 人生を変えるフリマアプリ
    %p.main__title__content__bottom
      FURIMAはだれでもかんたんに出品・購入できる
      %br フリマアプリです
    .main__title__content__btn
      = link_to image_tag("app-store-btn.png", height: "53", width: "180", alt: "main-logo", class: "main__title__content__btn__app-btn"), root_path
      = link_to image_tag("google-play-btn.png", height: "53", width: "180", alt: "main-logo"), root_path
