%section.main__reason
  %h2.main__reason__title
    FURIMAが選ばれる3つの理由
  %ul.main__reason__contents
    %li.main__reason__contents__content
      .main__reason__contents__content__img
        %span.nmb 1
        = image_tag 'pict/pict-reason-01.jpg', alt: '3分出品'
      %h3.main__reason__contents__content__title
        %span 3分
        ですぐに出品
      %p.main__reason__contents__content__text
        スマホで入力するだけで簡単に出品できる！
    %li.main__reason__contents__content
      .main__reason__contents__content__img
        %span.nmb 2
        = image_tag 'pict/pict-reason-02.jpg', alt: 'シンプル利用'
      %h3.main__reason__contents__content__title
        %span シンプル
        で使いやすい
      %p.main__reason__contents__content__text
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.main__reason__contents__content
      .main__reason__contents__content__img
        %span.nmb 3
        = image_tag 'pict/pict-reason-03.jpg', alt: '業界最安'
      %h3.main__reason__contents__content__title
        手数料
        %span 業界最安
      %p.main__reason__contents__content__text
        最大3％でお得に出品＆購入！