.breadcrumbs{
  background-color: white;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  .breadcrumbs-list{
    width: 72%;
    margin: 0 auto;
    padding: 16px 10px;
    font-size: 14px;
    .current{
      font-weight: 600;
    }
  }
}