%aside.banner
  .banner__box
    %h2.banner__box__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.banner__box__text
      今すぐ無料ダウンロード
    .banner__box__icon
      = link_to image_tag("app-store-btn.png", height: "53", width: "180", alt: "main-logo", class: "banner__box__icon__app-btn"), root_path
      = link_to image_tag("google-play-btn.png", height: "53", width: "180", alt: "main-logo"), root_path