.header
  ヘッダー

.main
  .main__contents
    .left-contents
      = render "shared/side-bar"
  
    .right-contents
      .right-contents__pay-method
        支払方法
      .right-contents__content
        .right-contents__content__add-card
          .right-contents__content__add-card__btn
            =link_to new_user_creditcard_path do
              クレジットカードを登録する
        .right-contents__content__about
          =link_to do
            支払方法について

.footer
  フッター