.wrapper
  = render 'shared/header'

  .user-main
    .user-main__contents
      .left-contents
        = render "shared/side-bar"
    
      .right-contents
        .right-contents__pay-method
          支払方法
        .right-contents__content
          .right-contents__content__add-card
            .right-contents__content__add-card__btn
              =link_to new_user_creditcard_path do
                クレジットカードを登録する
          .right-contents__content__remove-card
            -# showの記載内容を確認後こちらに記載する
          .right-contents__content__about
            =link_to do
              支払方法について

  = render 'shared/footer'