.completion-message__1 {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.completion-message__2 {
  text-align: center;
  
}
.home-link {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}