&__pickup {
  padding-top: 80px;
  background-color: #f8f8f8;
  height: 100%;
  &__title {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  &__box {
    margin: 0;
    padding: 0;
    &__title {
      text-align: center;
      a {
        font-size: 24px;
        text-decoration: none;
        color: #3CCACE;
        .name {
          font-weight: bold;
        }
      }
    }
    &__contents {
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      &__content {
        width: 220px;
        display: inline-block;
        a {
          background-color: #fff;
          display: inline-block;
          text-decoration: none;
          position: relative;
        }
        &__img {
          width: 220px;
          height: 150px;
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;
          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: auto;
            height: 150px;
            object-fit: cover;
          }
        }
        &__text {
          background-color: white;
          color: #333;
          padding: 16px;
          .name {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          }
          .details {
            font-size: 16px;
            ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
              li {
                margin: 0;
                padding: 0;
                .fas {
                  &::before {
                    content: "\f005";
                  }
                }
              }
            }
            p {
              font-size: 10px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
&__pickup:last-child {
  padding-bottom: 80px;
}