.left-contents {
  @include background-size(280px, 540px);
  margin: 40px 40px 40px 0px;
  &__mypage-nav {
    @include background-size(100%, 250px);
    #list-top {
      @include list-top;
    }
    &__list {
      @include list-content;
      a {
        @include list-position;
      }
      a:hover {
        @include list-action;
      }
    }
  }
  &__setting {
    @include background-size(100%, 250px);
    margin-top: 40px;
    #list-top {
      @include list-top;
    }
    &__list {
      @include list-content;
      a {
        @include list-position;
      }
      a:hover {
        @include list-action;
      }
    }
  }
}