// Place all the styles related to the exhibitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body {
  background-color: whitesmoke;
  .title {
    width: 150px;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
    &__black {
      font-weight: bold;
      margin-right: 5px;
      border-bottom: solid 3px mediumturquoise;
    }
    &__hissu {
      height: 20px;
      width: 20%;
      background-color: red;
      color: seashell; 
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      border-radius: 5px
    }
  }

  .comment-red {
    color: red;
    margin-bottom: 10px;
  }





  .header-logo {
    height: 70px;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .items-wrapper {
    background-color: white;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 240px;
    border-radius: 10px;
    .item-image {
      height: 260px;
      padding: 20px;
      border-bottom: groove;
      position: relative;
      &__comment1 {
        font-size: small;
      }
      
      #dropArea {
        overflow: hidden;
        padding: 40px 10px;
        background: #ddd;
        border: 3px #666 dashed;
        color: #999;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      
      #dropArea.dragover,
      #dropArea:active {
        background: #cfc;
        border-color: #9c9;
        color: #9c9;
      }
    }
    
    
    .item-info {
      height: 100%;
      padding: 20px;
      border-bottom: groove;
      .name__input-form {
        font-size: 100%;
        padding: 10px;
        height: 20px;
        width: 95%;
      }
      .description__input-form {
        font-size: 100%;
        padding: 10px;
        height: 80px;
        width: 95%;
        border-radius: 5px;
      }
      .category__input-form {
        font-size: 100%;
        padding: 10px;
        height: 40px;
        width: 100%;
      }
      .size__input-form {
        font-size: 100%;
        padding: 10px;
        height: 40px;
        width: 100%;
      }

      .title-brand {
        width: 150px;
        display: flex;
        justify-content: start;
        margin-bottom: 10px;
        &__black {
          font-weight: bold;
          margin-right: 5px;
          border-bottom: solid 3px mediumturquoise;
        }
        &__gray {
          background-color: gray;
          color: seashell;
          height: 20px;
          width: 20%;
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          border-radius: 5px
        }
      }

      
      .brand__input-form {
        font-size: 100%;
        padding: 10px;
        height: 20px;
        width: 96%;
        margin-bottom: 10px;
      }
      .status__input-form {
        font-size: 100%;
        padding: 10px;
        height: 40px;
        width: 100%;
      }
    }
    .shipping-info {
      padding: 20px;
      border-bottom: groove;
      .postage__input-form {
        font-size: 100%;
        padding: 10px;
        height: 40px;
        width: 100%;
      }
      .area__input-form {
        font-size: 100%;
        padding: 10px;
        height: 40px;
        width: 100%;
      }
      .days__input-form {
        font-size: 100%;
        padding: 10px;
        height: 40px;
        width: 100%;
      }
      .price-input {
        width: 100px;
        display: flex;
        margin: 0 0 0 auto;
        &__yen {
          
        }
        &__form {
          font-size: 100%;
          height: 20px;
          width: 100%;
        }
      }
      .commission {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        &__title {
  
        }
        &__result {
  
        }
      }
    }

    .profit {
      display: flex;
      justify-content: space-between;
      margin: 20px;
      &__title {

      }
      &__result {

      }
    }

    .syuppin-btn {
      background-color: mediumturquoise;
      color: seashell;
      font-size: large;
      font-weight: bold;
      border-radius: 10px;
      height: 40px;
      width: 50%;
      margin: 5% 25% 2% 25%;
    }
    .sitagaki-btn {
      background-color: gainsboro;
      color: black;
      font-size: large;
      font-weight: bold;
      border-radius: 10px;
      height: 40px;
      width: 50%;  
      margin: 0 25% 5% 25%; 
    }
    .back-btn {
      height: 30px;
      width: 20%;
      margin: 0 40% 10% 40%;
      border-radius: 5px;
    }
  }
}