.header
  ヘッダー

.main
  .main__contents
    .left-contents
      = render 'shared/side-bar'

    .right
      .right__logout
        = link_to "ログアウト", destroy_user_session_path, method: :delete

.footer
  フッター