.wrapper
  = render 'shared/header'

  .user-main-logout
    .user-main-logout__contents
      .left-contents
        = render 'shared/side-bar'

      .right-logout
        .right-logout__logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete

  = render 'shared/footer'