.wrapper 
  = render "shared/header"
  .main
    .brand-container
      .brand-container__box
        .brand-container__box__deleted__item  この商品は削除されました
        .brand-container__name 
          =link_to "トップページに戻る", top_index_path
        .contents__image
          .content.flex
            .contents__box__image
              .contens__box__detail
          .content.flex
          .content.flex
          .content.flex
          .content.flex
          .content.flex
          .side__banner
      .side__image
  = render "shared/footer"
  = render "shared/sellbtn"