@mixin background-size($height, $width) {
  height: $height;
  width: $width;
}

@mixin list-top {
  @include background-size(100%, 50px);
  background-color: $color-3CCACE;
  font-weight: bold;
}

@mixin list-content {
  @include background-size(100%, 48px);
  margin-right: 16px;
  background-color: $color-fff;
  font-size: $font-size_16;
  line-height: 48px;
  border: solid 1px $color-f5f5f5;
}

@mixin list-position {
  display: block;
  padding-left: 16px;
}

@mixin list-action {
  background-color: $color-f5f5f5;
  transition: background-color .3s;
  opacity: 0.7;
}